:root {
  --colorOne-1B2133: #1b2133;
  --colorTwo-222A40: #222a40;
  --colorTree-33415A: #33415a;
  --colorFour-00FCF8: #00fcf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #1b2133;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container {
  width: 800px;
  max-width: 1000px;
  height: 500px;
  background-color: #33415a;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}

.content-signin,
.content-signup {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-signin-form,
.content-signup-form {
  width: 100%;
  height: 100%;
  transition: all 900ms;
}

.content-signin-form *,
.content-signup-form * {
  color: #ffffff;
}

.content-signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-h1 {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-signin {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-input {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label-input label {
  font-size: 1rem;
  font-weight: 500;
}

.label-input input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 8px;
  outline: none;
  color: black;
}

.button-signin {
  padding: 10px 50px;
  border: 0;
  background-color: #00fcf8;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  transition: ease-in-out 0.3s;
  color: #000000;
  margin: 10px 0;
}

.button-signin:hover {
  background-color: rgb(0, 252, 248, .7);
}

.remember-password {
  margin: 10px 0;
}

.content-signup-form {
  transform: translateX(100%);
  opacity: 0;
}

.content-signin-welcome,
.content-signup-welcome {
  width: 100%;
  height: 100%;
  transition: all 900ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.content-signin-welcome {
  position: absolute;
  background-color: #00fcf8;
  transform: translateX(-100%);
  opacity: 0;
}

.content-signup-welcome {
  position: absolute;
  background-color: #00fcf8;
}

.content-signin-welcome button,
.content-signup-welcome button {
  padding: 10px 35px;
  border: 2px solid #33415a;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  transition: ease-in-out 0.3s;
}

.content-signin-welcome button:hover,
.content-signup-welcome button:hover {
  background-color: #33415a;
  color: #ffffff;
}
