:root {
    --colorOne-1B2133: #1B2133;
    --colorTwo-222A40: #222A40;
    --colorTree-33415A: #33415A;
    --colorFour-00FCF8: #00FCF8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: ;
}